<form action="/create" method="POST">
  <h2 class="page-title">Create menu</h2>

  <form class="input-field">
    <span>Menu title
    <input type="text" name="title">
    </span>
    <span>Price
    <input type="text" name="price">
    </span>
  </div>

  <button type="submit" class="btn">Create</button>
</form>