<h2>Login</h2>

<form action="/login" method="POST">
  <label>
    Username:
    <input type="text" name="username" required>
  </label>
  <label>
    Password:
    <input type="password" name="password" required>
  </label>
  <button class="btn btn-small" type="submit">Login</button>
</form>
