<h2>Sign up</h2>

<form action="/registration" method="POST">
  <label>
    Username:
    <input type="text" name="username" required>
  </label>
  <label>
    Password:
    <input type="password" name="password" required>
  </label>
  <label>
    Phone number:
    <input type="tel" name="phone" required>
  </label>
  <label>
    Address:
    <input type="text" name="address" required>
  </label>
  <button class="btn btn-small" type="submit">Sign up</button>
</form>
